<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;<style>
2
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
3
body {font-size:16px;}
4
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
5
.w3-half img:hover{opacity:1}
6
.button {
7
    background-color: #4CAF50; /* Green */
8
    border: none;
9
    color: white;
10
    padding: 15px 32px;
11
    text-align: center;
12
    text-decoration: none;
13
    display: inline-block;
14
    font-size: 16px;
15
    margin: 4px 2px;
16
    cursor: pointer;
17
}
18
<!DOCTYPE html>
19
2
20
<html>
21
3
22
<title>Ethanol</title>
23
4
24
<meta charset="UTF-8">
25
5
26
<meta name="viewport" content="width=device-width, initial-scale=1">
27
6
28
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
29
7
30
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
31
8
32
<link rel="stylesheet" type="text/css" href="css/react.css">
33
9
34
•
35
10
36
</style>
37
11
38
<body>
39
12
40
<!-- Navbar (sit on top) -->
41
13
42
<div class="w3-top">
43
14
44
  <div class="w3-bar w3-red w3-padding w3-card" style="letter-spacing:4px;">
45
15
46
    
47
16
48
    <!-- Right-sided navbar links. Hide them on small screens -->
49
17
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
