<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
<!DOCTYPE html>
2
<html>
3
<title>Ethanol</title>
4
<meta charset="UTF-8">
5
<meta name="viewport" content="width=device-width, initial-scale=1">
6
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
7
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
8
<link rel="stylesheet" type="text/css" href="css/react.css">
9
​
10
</style>
11
<body>
12
<!-- Navbar (sit on top) -->
13
<div class="w3-top">
14
  <div class="w3-bar w3-red w3-padding w3-card" style="letter-spacing:4px;">
15
    
16
    <!-- Right-sided navbar links. Hide them on small screens -->
17
    <div class="w3-right w3-hide-small">
18
      <a href="about.html" class="w3-bar-item w3-button">About Ethalove</a>
19
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
20
    </div>
21
  </div>
22
</div>
23
​
24
​
25
<br><br>
26
<!-- Sidebar/menu -->
27
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
28
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:32px"><a style="font-size:40px">Ethalove</a></a>
29
  <div class="w3-container">
30
    <img src="img/logo2.png" style="width: 100px; height: 100px">
31
  </div>
32
  <div class="w3-bar-block">
33
    <a href="index.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">About Ethanol</a> 
34
    <a href="index.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Structure</a> 
35
    <a href="etymology.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Etymology </a> 
36
     <a href="history.html" class="w3-bar-item w3-button w3-hover-white"> History </a>
37
    <a href="uses.html" class="w3-bar-item w3-button w3-hover-white"> Uses </a>
38
    <a href="chemistry.html" class="w3-bar-item w3-button w3-hover-white"> Chemistry </a> 
39
    <a href="natural_occurrence" class="w3-bar-item w3-button w3-hover-white"> Natural <br>occurrence</a>
40
    <a href="production.html" class="w3-bar-item w3-button w3-hover-white">  Production </a>
41
    <a href="purification.html" class="w3-bar-item w3-button w3-hover-white"> Purification </a>
42
    <a href="reaction.html" class="w3-bar-item w3-button w3-hover-white">  Reactions </a>
43
   
44
  </div>
45
</nav>
46
<!-- banner-->
47
<img src="img/breac.jpg" style="width: 100%;height:auto">
48
​
49
